<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>40396660743-3p88pek34t6t6p3qhpoajf0mpbk1294s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40396660743-3p88pek34t6t6p3qhpoajf0mpbk1294s</string>
	<key>API_KEY</key>
	<string>AIzaSyAeBt1f1cgx8H-LXw939MrV28oNnhVFTD0</string>
	<key>GCM_SENDER_ID</key>
	<string>40396660743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moe.pgp.dev</string>
	<key>PROJECT_ID</key>
	<string>parent-gateway-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>parent-gateway-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40396660743:ios:19fa6a50ff8137bd</string>
	<key>DATABASE_URL</key>
	<string>https://parent-gateway-dev.firebaseio.com</string>
</dict>
</plist>